<template>
    <div>
        <h3>Results</h3>
        <p> <strong>Points:</strong> {{points}}</p>
        <router-link id='resetBtn' to="/" tag="button">Try Again</router-link>
        <QuizResults v-for="(question, i) in questionList" v-bind:key ="i"
        v-bind:question="questionList[i]"
        v-bind:correctAnswer="correctAnswerList[i]"
        v-bind:answer="answeredList[i]"/>
    </div>
</template>

<script>
import QuizResults from '../components/QuizResults'
export default {
    path: '/gameover',
    name: 'GameOver',
    components: {
        QuizResults
    },
    data(){
        return{
            points: JSON.parse(localStorage.getItem('points')),
            questionList: JSON.parse(localStorage.getItem('questions')),
            correctAnswerList: JSON.parse(localStorage.getItem('correctAnswers')),
            answeredList: JSON.parse(localStorage.getItem('answers'))
        }
    }
}
</script>
<style scoped>
#resetBtn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#c8d0e6;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
#resetBtn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#adbadb;
}
</style>