<template>
    <div>
        <div>
            <QuizQuestion
            :question="question"
            :answerList="answerList"
            @clicked = "getQuestion"/>
        </div>
        <router-link id='resultBtn' v-show = null to="/gameover" tag="button"></router-link>
    </div>
</template>

<script>
import QuizQuestion from '../components/QuizQuestion'
import axios from 'axios';

export default {
    name: 'Gameplay',
    components: {
        QuizQuestion
    },
    created(){
        axios.get('https://opentdb.com/api.php?amount=10')
            .then(resp => {
                for(let i = 0; i<10; i++){
                    this.quizObjectList.push(resp.data.results[i])
                }
                this.getQuestion(null);
            });
    },
    data() {
        return{
            counter: 0,
            quizObjectList: [],
            questionObject: {},
            question: "",
            /* List of all possible answered to that question */
            answerList: [],
            correctAnswer: "",
            /* List of answeres from the user. These datas will be used in GameOver*/
            questionList: [],
            correctAnswersList: [],
            answeredList: [],
            points: 0,
        }
    },
    methods: {
        async getQuestion(e){
            if(e == this.correctAnswer){
                this.points += 10;
            }
            if(e != null){
                this.answeredList.push(e);
            }
            if(this.counter < 10){
                this.questionObject = this.quizObjectList[this.counter]
                this.question = this.questionObject.question
                this.questionList.push(this.question);
                this.getAnswers();
                this.counter++;
            }else{
                //Saving data to localStorage for use in gameover-component
                window.localStorage.setItem('points', JSON.stringify(this.points))
                window.localStorage.setItem('questions', JSON.stringify(this.questionList))
                window.localStorage.setItem('correctAnswers', JSON.stringify(this.correctAnswersList))
                window.localStorage.setItem('answers', JSON.stringify(this.answeredList))
                document.getElementById('resultBtn').click()
            }
        },
        async getAnswers(){
            this.answerList = []
            this.answerList.push(this.questionObject.correct_answer)
            this.correctAnswer = this.answerList[0];
            this.correctAnswersList.push(this.correctAnswer);
            this.questionObject.incorrect_answers.forEach((quest)=>{
                this.answerList.push(quest);
            })
            this.answerList = this.shuffle(this.answerList);
        },
        //A function for shuffling arrays in random order
        shuffle(array){
            var currentIndex = array.length, temporaryValue, randomIndex;
            while (0 !== currentIndex) {
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }
            return array;
        }
    }
}
</script>