<template>
    <div>
        <router-link id="startBtn" to="/gameplay" tag = "button">Start Trivia</router-link>
    </div>
</template>

<script>
export default {
    name: 'StartPage'
}
</script>
<style scoped>
    #startBtn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:24px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:11px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
#startBtn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
</style>