<template>
    <ul id= 'resultList'>
        <li id='resultItem'> 
            <p> <strong>{{question}}</strong> </p>
            <p id="correct"> <strong>Correct answer:</strong> {{correctAnswer}} </p>
            <p id="answer"> <strong>Your Answer:</strong> {{answer}} </p>
        </li>
    </ul>
</template>
<script>

export default {
    props: {
        question: {
            type: String
        },
        correctAnswer:{
            type: String
        },
        answer: {
            type: String
        }
    }
}
</script>
<style scoped>
    #resultItem{
        border: 1px solid;
        width: 50%;
        border-spacing: 10px 2em;
        text-align: center;
        background-color: #a5cdd6;
        border-radius: 25px;
    }
    #resultList{
        list-style-type: none;
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        line-height:200%;
    }
</style>