<template>
    <div class = 'quizQuestion'>
        <h4 id= 'question'>{{question}}</h4>
        <ul id='answerList'>
            <li class = "answers" v-for="(answer,i) in answerList" :key="i" @click ="addAnswer($event)">{{answer}}</li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        question: {
            type: String
        },
        answerList: {
            type: Array
        }
    },
    methods: {
        addAnswer(event){
            this.$emit('clicked', event.target.innerText)
        }
    }
}
</script>
<style scoped>
    .quizQuestion{
        text-align: center;
        align-items: center
    }
    #answerList{
        list-style-type: none;
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        line-height:200%;
    }
    .answers{
        border: 1px solid;
        width: 50%;
        border-spacing: 10px 2em;
        text-align: center;
        background-color: #a5cdd6;
        border-radius: 25px;
    }
    #question{
        text-align: center
    }
    .answers:hover{
        background-color: #7ea1a8
    }
</style>